@import 'partials/mixins';

body{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

a{
	display: inline-block;
	text-decoration: none;
	transition: .35s;
}

ul{
	line-height: 30px;
	font-size: 14px;
}

.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	border-bottom: 5px solid orange;
	background: darkslategray;
	color: #fff;
	text-align: center;
	.logo{
		width: 220px;
	}
	.description{
		margin-top: 20px;
		font-size: 20px;
		color: rgba(#fff, .6);
	}
	.version{
		margin: 20px 0;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 30px;
		font-weight: 300;
	}
	.menu{
		display: flex;
		.link{
			padding: 15px;
			border-radius: 2px;
			background: #fff;
			color: #999;
			font-size: 20px;
			&:first-child{
				margin-right: 10px;
			}
			&:hover{
				color: orange;
			}
		}
	}
	.packages{
		margin-top: 10px;
	}
}

.container{
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	max-width: 1170px;
}

.title,
.sub-title,
#target,
.example-html{
	font-family: 'Roboto Condensed', sans-serif;	
}

.title{
	margin-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 3px solid orange;
	color: darkslategray;
	font-weight: 700;
	font-size: 30px;
	& + .example{
		margin-top: 0;
	}
}

.sub-title{
	padding: 10px;
	background: darkslategray;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.codes{
	//margin-bottom: 10px;
	.code-cel{
		.code-title{
			padding: 10px;
			background: darken(#F5F2F0, 5%);
			color: #333;
			font-size: 22px;
		}
		pre{
			margin: 0;
		}
	}
}

.hyperlink{
	color: lighten(darkslategray, 10%);
	text-decoration: underline;
}

.example{
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}

.btn{
	padding: 5px 10px;
	background: orange;
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 2px 2px rgba(#000, .1);
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(#000, .3);
	cursor: pointer;
	&.btn-example{
		margin-top: 10px;
	}
	&:hover{
		background: darkslategray;
	}
	&.btn-success{
		background: mediumseagreen;
		&:hover{
			background: darken(mediumseagreen, 10%);
		}
	}
	&.btn-info{
		background: steelblue;
		&:hover{
			background: darken(steelblue, 10%);
		}
	}
	&.btn-warning{
		background: orange;
		&:hover{
			background: darken(orange, 10%);
		}
	}
	&.btn-danger{
		background: tomato;
		&:hover{
			background: darken(tomato, 10%);
		}
	}
}

.tip{
	font-family: Arial, sans-serif;
	font-style: italic;
}

.table-wrapper{
	overflow-x: auto;
	.table{
		width: 100%;
		min-width: 600px;
		border-collapse: collapse;
		font-family: Arial, sans-serif;
		text-align: left;
		th,
		td{
			padding: 10px;
		}
		td:first-child{
			font-weight: 700;
			width: 120px;
		}
		thead{
			background: orange;
			color: #fff;
		}
		tbody{
			tr{
				&:nth-child(even){
					background: #F5F2F0;
				}
			}
		}
	}
}


.footer{
	margin-top: 50px;
	padding: 20px 0;
	background: darkslategray;
	color: #fff;
	text-align: center;
}

//examples
.target-box{
	margin-top: 10px;
	#target{
		border: 1px dashed #bbb;
	}
}

#target{
	display: inline-block;
	padding: 30px;
	background: #F5F2F0;
	color: #333;
	font-size: 22px;
}

.example-html{
	padding: 0 20px;
	background: orange;
	color: #333;
	border-radius: 15px 0 15px;
	text-shadow: -2px 2px 0 #fff, -4px 4px 0 rgba(#fff, .5);
	overflow: hidden;
}

.example-url{
	background: rgba(darkslategray, .5);
	.edbox-body{
		box-shadow: -5px 5px 0 rgba(#000, .1);
	}
	.edbox-close{
		color: orange !important;
	}
	.url-content{
		padding: 15px;
		background: #fff;
		overflow: hidden;
		h2{
			margin-top: 0;
		}
		.photo{
			float: left;
			img{
				width: 300px;
			}
			figcaption{
				font-size: 14px;
				text-align: center;
			}
		}
	}
}

.example-image{
	.edbox-footer{
		color: darkslategray;
		text-align: center;
	}
	img{
		width: 800px;
	}
}