*{
	box-sizing: border-box;
}
body{
	margin:0;
	font: 14px Arial, sans-serif;
	background-color:#333;
	color:#fff;
}
h1{
	font-size:40px;
	line-height:50px;
	float:left;
	margin:0;
}
h1 span{
	color:#999;
	font-weight:normal;
}
h1,
ul{
	margin:0;
	padding:0 0 20px 30px;
}
hr{
	height: 0px;
	border: dotted #ccc;
	border-width: 1px 0 0 0;
	margin: 20px 0;
	background: transparent;
	clear: both;
}
.btn{
	background:#FF5D00;
	border-radius:3px;
	border: 0;
	color:#fff;
	display:inline-block;
	line-height:30px;
	height: 30px;
	padding:0 10px;
	text-decoration:none;
	transition:.25s;
}
.btn:hover{
	background:#fff;
	color:#FF5D00;
	cursor: pointer;
}
.btn.download{
	font-size:20px;
	font-weight:bold;
	line-height:50px;
	height: 50px;
	padding:0 20px;
}
button{
	vertical-align: bottom;
	font-size: 14px;
	outline: none;
}
header{
	margin:auto;
}
header .logo{
	display: block;
	float: left;
}
header .btn.download{
	margin-top: 10px;
}
header,
.container{
	margin:auto;
	padding: 0 20px;
	max-width:1200px;
	overflow:hidden;
}
.codes{
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.codes > div{
	flex: 1;
	background: #272727;
	margin: 5px;
}
.codes h3{
	padding: 10px 0 0 10px;
	margin: 0;
}
table{
	background: #272727;
	border-collapse: collapse;
	width: 100%;
}
table tbody tr:nth-child(odd){
	background-color: #222;
}
table td,
table th{
	padding:10px;
	text-align:left;
}
table th,
.link{
	color:#FF5D00;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.icon{
	vertical-align: middle;
	margin-right: 5px;
}
#target1{
	display: none;
	padding: 50px;
	background: crimson;
	color: #fff;
	font-size: 30px;
}
#target2{
	display: none;
	padding: 20px;
	background: darkolivegreen;
	color: #fff;
	font-size: 50px;
}
#target3{
	display: none;
	padding: 30px;
	background: purple;
	color: #fff;
	font-size: 20px;
}
.example-html{
	padding: 100px;
	background: white;
	color: #000;
	font-size: 20px;
}